# Виртуальное окружение
.venv/
.venv310/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/

# PNG файлы
*.png

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# requirements.txt (опционально, если не нужен в репо)
# requirements.txt
